{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('block_layout/block_bootstrap_modal') }}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'block-bootstrap-modal',
  ]
%}
{%
 set modalid = 'modal-' ~ attributes.id
%}
<div{{ attributes.addClass(classes) }}>
  <button type="button" class="btn btn-primary btn-modal" data-toggle="modal" data-target="#{{ modalid }}">
    {{ label }}
  </button>

  <!-- Modal -->
  <div class="modal fade" id="{{ modalid }}" tabindex="-1" role="dialog" aria-labelledby="{{ label }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">{% trans %}Close{% endtrans %}</span>
          </button>
          {{ title_prefix }}
          {% if label %}
            <h4 {{ title_attributes.addClass('modal-title') }}class="modal-title">{{ label }}</h4>
          {% endif %}
          {{ title_suffix }}
        </div>
        <div{{ content_attributes.addClass('modal-body') }}>
          {{ content }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
        </div>
      </div>
    </div>
  </div>
</div>