{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 *
 * TODO prevenir que el dropdown se cierre en onclick
 */
#}
{{ attach_library('block_layout/block_bootstrap_collapse') }}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'block-bootstrap-collapse',
  ]
%}
{%
 set collapseid = 'drop-' ~ attributes.id
%}
<div{{ attributes.addClass(classes) }}>

  <button class="btn btn-secondary btn-collapse" type="button" data-toggle="collapse" data-target="#{{ collapseid }}" aria-expanded="false" aria-controls="collapseExample">
    {{ label }}
  </button> 
  <div class="collapse" id="{{ collapseid }}">
    {% block content %}
      {{ title_prefix }}
      {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
      {% endif %}
      {{ title_suffix }}
      <div{{ content_attributes.addClass('content') }}>
        {{ content }}
      </div>
    {% endblock %}
  </div>
</div>
