{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 *
 * TODO prevenir que el dropdown se cierre en onclick
 */
#}
{{ attach_library('block_layout/block_bootstrap_dropdown') }}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'block-bootstrap-dropdown',
  ]
%}
{%
 set dropdownid = 'drop-' ~ attributes.id
%}
<div{{ attributes.addClass(classes) }}>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="{{ dropdownid }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ label }}
  </button> 
  <div class="dropdown-menu" aria-labelledby="{{ dropdownid }}">
    {% block content %}
      {{ title_prefix }}
      {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
      {% endif %}
      {{ title_suffix }}
      <div{{ content_attributes.addClass('content') }}>
        {{ content }}
      </div>
    {% endblock %}
  </div>
</div>
